body {
  font-family: Arial, sans-serif;
}

.chaveAcesso{
  display: none;
}

.leaflet-container {
  z-index: 0 !important;
}

#mapContainer.fullscreen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 1000;
}

#mapContainer.fullscreen #map {
  height: 100%;
  width: 100%;
  border-radius: 0;
}
